# Use a safe key instead of this
# See: https://docs.rs/actix-web/latest/actix_web/cookie/struct.Key.html
APP_KEY="vknsd*#(KVDNSBJBN)3@\$*#--4829#(*@KRKSJNkjnvksdn$&*(#IU0294i09#KMVLDSKMV"
RUST_ENV=development
RUST_LOG=warn
